In [1]:
import pandas as pd
import requests
from io import StringIO

In [2]:
orig_url = 'https://drive.google.com/file/d/1jxoeEgw3fq-qD6ph1SKQSHD7fYyM1f4S/view?usp=sharing'

file_id = orig_url.split('/')[-2]
dwn_url = 'https://drive.google.com/uc?export=download&id=' + file_id
url = requests.get(dwn_url).text
csv_raw = StringIO(url)
df_confiscated = pd.read_csv(csv_raw, skiprows=2, sep='\t', nrows=9, names=['Desc', '2010', '2016', '2017', '2018', '2019'])
df_confiscated

,Desc,2010,2016,2017,2018,2019
0,hinderlijk en/of fout geparkeerd bij CSE en in...,18287,39912,57328,58891,80764
1,ontvangen via politiebureaus,974,589,507,486,320
2,ontvangen via fietspunten,492,270,179,274,681
3,ontvangen via Interne stallingen,-,50,-,-,-
4,ontvangen via registercontroleur,-,-,-,-,-
5,ontvangen via overige manieren (incl. APV onbe...,-,689,-,429,3439
6,totaal ontvangen hinderlijk en/of fout geparkeerd,19753,41510,58014,60080,85204
7,verwaarloosd,13339,23798,23114,18426,10857
8,totaal,33092,65308,81128,78506,96061

In [3]:
df_confiscated['Desc'] = df_confiscated['Desc'].replace({'totaal':'Confiscated bikes'}, regex=True)
conf = df_confiscated.loc[df_confiscated['Desc'] == 'Confiscated bikes']
conf = conf.drop('2010', 1)
conf[['2016', '2017', '2018', '2019']] = conf[['2016', '2017', '2018', '2019']].astype('int64')
conf

                Desc   2016   2017   2018   2019
8  Confiscated bikes  65308  81128  78506  96061

In [4]:
df_left = conf.copy()
df_left['Desc'] = df_left['Desc'].replace({'Confiscated bikes':'Conf.bikes left market'}, regex=True)
df_left[['2016', '2017', '2018', '2019']] = round(df_left[['2016', '2017', '2018', '2019']].apply(lambda x: x/3)).astype('int64')
df_left

                     Desc   2016   2017   2018   2019
8  Conf.bikes left market  21769  27043  26169  32020

In [5]:
total_conf = pd.concat([conf, df_left])
total_conf

                     Desc   2016   2017   2018   2019
8       Confiscated bikes  65308  81128  78506  96061
8  Conf.bikes left market  21769  27043  26169  32020